// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$purple: #A9A7FF;
$pink: #FFCAEA;
$light-green: #DDFFF8;
$background-grey: #FFFFFE;
