// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$purple: radial-gradient(circle, rgba(169,167,255,0.2) 0%, rgba(169,167,255,0.4) 0%, rgba(169,167,255,0.3) 100%, rgba(169,167,255,0.2) 100%);
$purple-strong: rgb(169,167,255);
$signature-purple: radial-gradient(circle, rgba(174, 167, 255,0.22) 0%, rgba(169, 167, 255,0.23) 14%, rgba(169, 167, 255,0.18) 100%, rgba(181, 180, 243,0.27) 31%);
$pink: #FFCAEA;
$light-green: #DDFFF8;
$background-grey: #FFFFFE;
$shadow-light: #dcd7d7ed;
$shadow-dark: #cacacaed;
$signature-gradient: linear-gradient(180deg, rgba(56, 120, 141, 0.11) 0%, rgba(249, 197, 236, 0.342) 100%);
$footer-gradient: linear-gradient(rgba(199,197,249,1) 100%, rgba(67,132,156,1) 17%);
$grey: rgb(92, 92, 92);
$slider-red: #ee6055;
$slider-orange: #F4A259;
$slider-yellow: #FFD670;
$silder-green: #AAD576;
