.aboutus-container {
  margin: auto;
  width: 90vw;
  margin-bottom: 100px;
  text-align: center;

  p {
    margin-top: 15px;
  }

  h1 {
font-size: 30px
  }
}

.aboutus-button {
  margin-top: 40px;
}
