// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.row {
display: flex;
}

.main-container {
  text-align: center;
  padding-bottom: 30px;
}


.container .fas {
margin-top: 100px;
}

#button-call-to-action {
  display: inline-block;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  background-color: $pink;
}

#button-call-to-action:hover {
  background-color: $light-green;
  text-decoration: none;
}
