// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 48px 20px 20px 20px;
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}

.banner h2 {
  margin: 0;
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 35px;
  opacity: 0.9;
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 50px;
}

.row {
display: flex;
}

.main-container {
  text-align: center;
  padding-bottom: 30px;
}

.button-space {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container .fas {
  margin-top: 100px;
}

.fa-chevron-down {

  margin-top: 7px;
  position: relative;
  bottom: -24px;
  color: white;
  font-size: 25px;
}

.fa-chevron-down:hover {
  opacity: 0.6;
  @-webkit-keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-100px);transform:translateY(-100px)}}@keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-100px);transform:translateY(-100px)}}
}

#button-call-to-action {
  display: inline-block;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  background-color: $pink;
}

#button-call-to-action:hover {
  background-color: $light-green;
  text-decoration: none;
}

#slider-value{
  width:22px;
  text-align: center;
  visibility: hidden;
}
