<div class="log-out-avatar dropdown">
  <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if user_signed_in? %>
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag(current_user.avatar.key, crop: :fill) %>
      <% end %>
   <% end %>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</div>
