  <div class="header">
    <div class="header-content">
      <div class="header-content-title"> <%= link_to "Wear", root_path %> </div>
      <div class="header-content-description">  Green fashion for green people </div>
    </div>
  </div>
