  <div class="header">
    <div class="header-content">
      <%= link_to root_path do %>
        <p class="header-content-title">Wear</p>
      <% end %>
      <p class="header-content-description"> Green fashion for green people </p>
    </div>
  </div>
