  <div class="header", style="background-image: url('<%= cl_image_path "header_img_gpdigd", height: 1500, crop: :fill %>')">
    <div class="header-content">
      <div class="header-content-title"> <%= link_to "Wear", root_path %> </div>
      <div class="header-content-description">  Green fashion for green people </div>
    </div>
  </div>
