  <div class="header", style="background-image: url('<%= cl_image_path "pastel-wallpaper-20081916265123-scaled_rfr446", height: 1500, crop: :fill %>')">
    <div class="header-content">
      <%= link_to root_path do %>
        <p class="header-content-title">Wear</p>
      <% end %>
      <p class="header-content-description"> Green fashion for green people </p>
    </div>
  </div>
