<div class="score-gauge">
  <p class="score-selector" style="padding-left: <%= score - 5 %>%;">
    <%= score %>
  </p>
  <div class="gauge">
    <ul>
      <li class='red'>
      </li>
      <li class='orange'>
      </li>
      <li class='yellow'>
      </li>
      <li class='green'>
      </li>
    </ul>
  </div>
</div>
