<%= render "/shared/header" %>
<%= render "/shared/clickable-avatar" %>

<h1>Wear team</h1>
<h1>Vision</h1>
<h1>Notation : how it works ?</h1>
<%= submit_tag "Find a garment", class: "btn-light-green"%>
