.btn-light-green {
  display: inline-block;
  justify-content: center;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  background-color: $pink;
  border: transparent;
}

.btn-light-green:hover {
  background-color: $light-green;
  text-decoration: none;
}
