.btn-light-green {
  display: flex;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  background-color: #FFCAEA;
}

.btn-light-green:hover {
  background-color: #DDFFF8;
  text-decoration: none;
}
