.log-out-avatar {
  position: absolute;
  top: 20px;
  right: 12px;
}

.log-out-avatar img {
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
  height: 45px;
  margin-top: -5px;
  margin-right: -8px;
}
