.header {
  border-bottom: 1px solid lightgrey;
  padding: 1em;
  background-image: url('https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
}

.header-content {
  color: white;
}

.header-content-title {
  color: white;
  font-size: 4em;
}

.header-content-title a {
  text-decoration: none;
  color: white;
}

.header-content-description {

}
