.search-filter {
  display: flex;
  text-align: left;
  justify-content: space-between;
  color: white;
  border-radius: 50px
}

#products_filter_category {
  width: 200px;
}

.filter-rating {
  color: white;
  text-align: left;
  border-radius: 50px
}
