<div class="container-main">
  <h1>Products#index</h1>
  <p>Find me in app/views/products/index.html.erb</p>
  <div class="container-product">
    <% @products.each do |product|%>
      <ul class="card-product">
        <li><%= product.name %> <br> <%= product.description %> </li>
      </ul>
      <% end %>
  </div>
</div>
