<%= render "/shared/header" %>

<div class="container-main">
  <h1>The products</h1>
  <ul class="container-product">
    <% @products.each do |product|%>
          <ul class="card-product">
            <div class="card-product-img"> <%= image_tag (product.picture) %> </div>
            <div class="card-product-description-container">
              <div class="card-product-title"> <%= link_to "#{product.name}", product_path("#{product[:id]}")  %> </div>
              <div class="card-product-description"> <%= product.description %> </div>
            </div>
          </ul>
      <% end %>
  </ul>
</div>
