body {
  background-color: FFFFFE;
}

h1 {
  text-align: center;

}

h1 a {
  text-decoration: none;
}
.container-product {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.card-product-img img {
  height: 100%;
  width: 40vw;
  border-radius: 8px 8px 0px 0px;
}
