body {
  background-color: $background-grey;
}

h1 {
  text-align: center;
  padding: (15px 30px 0px 30px)
}

h1 a {
  text-decoration: none;
}
.container-product {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  padding: 0;
  margin: 0;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 65px;
}

.fa-leaf {
  color:green;
}

.product-score {
  color:green;
  font-family: 'Lato', sans-serif;
}
