.container-products {
  margin: auto;
  }

.card {
  background: radial-gradient(circle, rgba(169,167,255,0.2) 0%, rgba(169,167,255,0.4) 0%, rgba(169,167,255,0.3) 100%, rgba(169,167,255,0.2) 100%);
  text-align: center;
  text-transform: uppercase;
}

.form-feedback {
  background: radial-gradient(circle, rgba(169,167,255,0.2) 0%, rgba(169,167,255,0.4) 0%, rgba(169,167,255,0.3) 100%, rgba(169,167,255,0.2) 100%);
  padding: 18px;
  border-radius: 5px;
  margin: auto;
}

.show-feedback {
  margin-top: 20px;
  background: radial-gradient(circle, rgba(169,167,255,0.2) 0%, rgba(169,167,255,0.4) 0%, rgba(169,167,255,0.3) 100%, rgba(169,167,255,0.2) 100%);
  padding: 18px;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 2px rgb(221,255,248);
  border: 40px;
}

h2 {
  font-size: 22px
}

li {
  list-style-type: none;
  font-size: 16px;
}
