.products-container {
  margin: auto;
  width: 90vw;
  margin-bottom: 100px;
}

.card-show {
  margin-top: 15px;
}

.form-feedback {
  background: $signature-purple;
  padding: 18px;
  border-radius: 5px;
  margin: auto;
}

.show-feedback {
  margin-top: 20px;
  background: $signature-purple;
  padding: 18px;
  border-radius: 5px;
  border: 40px;
}

h2 {
  font-size: 35px

}

.feedback-header {
  display: flex;
  align-items: center;
}

img {
  height: 100%;
  width: 100%
}

#feedback-container {
  margin-bottom: 25px;
}

label {
  margin-top: 10px;
}

#feedback_picture_worn {
  margin-bottom: 15px;
}

.list-criteria {
  list-style-type: none;
  color: black;
  text-decoration: none;
  font-size: 18px;
  min-width: 83vw;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-link:hover {
  text-decoration: none;
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: #101010;
}

#feedbacks-list {
  font-size: 18px;
  margin-top: 30px;
}

#feedbacks-list h2 {
  text-align:center;
}

.submit-review-btn {
  text-align: center;
}

@keyframes progress-bar {
  0% { width: 0;
   }
}

.heading {
  animation: 1.5s linear 1s progress-bar;
}

.card-product-description-container {
  .btn {
  outline: none !important;
  box-shadow: none !important;
  border-color: rgb(206, 212, 218);
  }
}

#list-chevron {
  color: black;
  font-size: 1em;
  bottom: -3px;
  animation: none;
  position: unset;
}
